@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h2>Contact Us</h2>
    <h3><em>This Is Our Contact Page....Don't Contact Us Tho...</em></h3>
    <address>
        666 Albert Wei Drive<br />
        Hell City, Hell<br />
        <abbr title="Phone">P:</abbr>
        666.666.666
    </address>

    <address>
        <strong>Fake Staff:</strong> <a href="mailto:fake@email.com">fake@email.com</a><br />
    </address>
</div>