@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2> Compound King </h2>
    <p><em>This website lets you calculate compound interest ad feel like a king.</em></p>
    <img src="~/images/compoundking.jpg" class="img-responsive" style="max-height: 50vh; display:block; margin: 0 auto" />
</div>