@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2> Compound King </h2>
    <p><em>
    This website lets you calculate compound interest and feel like a king.<br />
    If you already know what compound interest is: you are in the right place!!! <br />
    If you don't, and want to for some crazy reason, read  <a href="https://en.wikipedia.org/wiki/Compound_interest">this</a>.
</em></p>
    
    <img src="~/images/compoundking.jpg" class="img-responsive" style="max-height: 50vh; display:block; margin: 0 auto" />
</div>